.article__background {
  height: 272px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px 16px 0 0;
}

@media screen and (max-width: 1024px) {
  .article__background {
    height: 150px;
  }
}

@media screen and (max-width: 550px) {
  .article__background {
    height: 196px;
  }
}
