@import url(../button/button.css);
@import url(../button/_white/button_white.css);
@import url(../button/_blue/button_blue.css);
@import url(../button/_disabled/button_disabled.css);
@import url(../header/header.css);
@import url(../main/main.css);
@import url(../search/search.css);
@import url(../about-author/about-author.css);

.root {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  min-height: 576px;
  margin: 0 auto;
  background-image: url('../../images/background_image.png');
  background-size: auto 576px;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: 'Roboto', 'Roboto Slab', 'Inter', 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 768px) {
  .root {
    min-height: 400px;
    background-size: auto 400px;
    background-image: url('../../images/background_image(768).png');
  }
}

@media screen and (max-width: 320px) {
  .root {
    min-height: 536px;
    background-size: auto 536px;
    background-image: url('../../images/background_image(320).png');
  }
}
