.about-author__avatar {
  height: 464px;
  width: 464px;
}

@media screen and (max-width: 1280px) {
  .about-author__avatar {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .about-author__avatar {
    height: 300px;
    width: 300px;
  }
}


@media screen and (max-width: 768px) {
  .about-author__avatar {
    height: 232px;
    width: 232px;
  }
}

@media screen and (max-width: 650px) {
  .about-author__avatar {
    height: 272px;
    width: 272px;
  }
}
