.button_blue {
  height: 64px;
  color: #FFF;
  background-color: #2F71E5;
  border: none;
  transition: background-color .1s ease;
}

.button_blue:hover {
  opacity: 1;
  background-color: #347EFF;
}

.button_blue:active {
  background-color: #2A65CC;
}


@media screen and (max-width: 768px) {
  .button_blue {
    height: 56px;
  }
}
