.header__nav-btn-active-line{
  z-index: 1;
  display: block;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  width: 16px;
}

.header__nav-btn-active-line:nth-child(1) {
  top: 8px;
  left: 4px;
  transform-origin: 5px 1px;
}

.header__nav-btn-active-line:nth-child(2) {
  top: 14px;
  left: 4px;
  transform-origin: 5px 1px;
}
