@import url(./__icon-not-found/no-results__icon-not-found.css);
@import url(./__title/no-results__title.css);
@import url(./__subtitle/no-results__subtitle.css);

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 374px;
  background-color: #F5F6F7;
}
