@import url(__text-logo/header__text-logo.css);
@import url(__nav-btn-active/header__nav-btn-active.css);
@import url(__nav-btn-active-line/header__nav-btn-active-line.css);
@import url(__nav-btn-active-line/_enable/header__nav-btn-active-line_enable.css);
@import url(__nav-wrapper/header__nav-wrapper.css);
@import url(__nav-wrapper/_enabled/header__nav-wrapper_enabled.css);
@import url(__nav/header__nav.css);
@import url(__nav-list/header__nav-list.css);
@import url(__nav-item/header__nav-item.css);
@import url(__link/header__link.css);
@import url(__link/_checked/header__link_checked.css);
@import url(__button/header__button.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 7.2%;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .header {
    height: 66px;
    padding: 0 5.2%;
  }
}

@media screen and (max-width: 650px) {
  .header {
    position: relative;
    height: 56px;
    padding: 0 5%;
    z-index: 0;
  }
}
