.header__button {
  width: 174px;
}

@media screen and (max-width: 768px) {
  .header__button {
    width: 152px;
  }
}

@media screen and (max-width: 650px) {
  .header__button {
    margin: 22px 0 0 0;
    max-width: 288px;
    width: 100%;
  }
}
